субъект Российской Федерации <span class='value value-long'><%= region.blank? ? nullFlavor : region %></span><br/>
 район <span class='value value-long'><%= district %>  </span> 
 город <span class='value value-long'><%= city %>  </span><br/>
 населенный пункт <span class='value value-long'><%= town %>  </span> 
 улица <span class='value value-long'><%= street %>  </span>
 дом <span class='value'><%= house_number %></span> 
 стр. <span class='value'><%= struct_number %></span>
 корп. <span class='value'><%= building_number %></span>
<span class='value'><%= flat_number %></span>